{% extends "swamplr_jobs/main.html" %}
{% load humanize %}

{% block content %}
<div class="panel panel-primary">
    <div id="ns-status-heading" class="panel-heading"><div>Namespaces in Fedora Commons</div> <div id="kbd"><kbd>As of {% now 'm/d/Y f a' %}</kbd></div></div>
    <div class="table table-responsive table-condensed">
        <div class="ns-row" id="ns-headings">
        {% for h in headings %}
            <div class="ns-column swamplr-heading {{ h|lower|slugify }}-column">{{ h }}</div>
        {% endfor %}
        </div>

        {% for ns in namespaces %}
        <div class="ns-row">
            <div class="ns-column number-column">{{ forloop.counter }}</div>
            <div class="ns-column {{ headings.1|lower|slugify }}-column">{{ ns.namespace }}</div>
            <div class="ns-column {{ headings.2|lower|slugify }}-column"><a href="{% url 'list-items' ns.namespace %}">{{ ns.count }}</a></div>
            <div class="ns-column {{ headings.3|lower|slugify }}-column app-button">
            {% for a in ns.actions %}
                <form method="{{ a.method }}" action="{% url a.action a.args %}"><button type="submit" class="btn {{ a.class }}">{{ a.label }}</button></form>
            {% endfor %}
            </div>
         </div>
         {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if namespaces.has_previous %}
            <a class="btn btn-default" href="?page={{ namespaces.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ namespaces.number }} of {{ namespaces.paginator.num_pages }}
        </span>

        {% if namespaces.has_next %}
            <a class="btn btn-default" href="?page={{ namespaces.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
