{% extends "swamplr_jobs/main.html" %}
{% load humanize %}

{% block content %}
<div class="panel panel-primary">
    <div id="ns-status-heading" class="panel-heading"><div>All Namespaces</div></div>
    <div id="namespaces-general-info">
    <div id="namespaces-counts"><p>Found <mark>{{ namespace_count }}</mark> namespace{{ namespace_count|pluralize }}</p></div>
    <div id="namespaces-object-counts"><p>Totaling <mark>{{ object_count|intcomma }}</mark> object{{object_count|pluralize }}</p></div>
    <div id="namespaces-last-updated"><p>Cache Last Updated: <mark>{{ updated|date:'m/d/Y f a' }}</mark></div>
    </div>
    <div class="table table-responsive table-condensed">
        <div class="ns-row" id="ns-headings">
        {% for h in headings %}
            <div class="ns-column swamplr-heading {{ h|lower|slugify }}-column">{{ h }}
            {% if h == "Count" %}
                <a href="{% url 'namespaces' sort_field='count' direction='asc' %}"><span aria-label="Sort by count ascending" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
                <a href="{% url 'namespaces' sort_field='count' direction='desc' %}"><span aria-label="Sort by count descending" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
            {% elif h == "Namespace" %}
                <a href="{% url 'namespaces' sort_field='namespace' direction='asc' %}"><span aria-label="Sort by namespace ascending" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
                <a href="{% url 'namespaces' sort_field='namespace' direction='desc' %}"><span aria-label="Sort by namespace descending" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
            {% endif %}
            
            </div>
        {% endfor %}
        </div>

        {% for ns in namespaces %}
        <div class="ns-row">
            <div class="ns-column number-column">{{ forloop.counter|add:count_inc }}</div>
            <div class="ns-column {{ headings.1|lower|slugify }}-column">{{ ns.namespace }}</div>
            <div class="ns-column {{ headings.2|lower|slugify }}-column"><a href="{% url 'list-items' ns.namespace %}">{{ ns.count }}</a></div>
            <div class="ns-column {{ headings.3|lower|slugify }}-column app-button">
            {% for a in ns.actions %}
                <form method="{{ a.method }}" action="{% url a.action a.args %}">
                    <button type="submit" class="btn {{ a.class }}"
                        {% if a.label == "Delete All"  %} onclick='return confirm("Are you sure you want to delete all the objects in the namespace?")' 
                        {% endif %}>
                        {{ a.label }}>
                    </button>
                </form>
            {% endfor %}
            </div>
         </div>
         {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if namespaces.has_previous %}
            <a class="btn btn-default" href="?page={{ namespaces.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ namespaces.number }} of {{ namespaces.paginator.num_pages }}
        </span>

        {% if namespaces.has_next %}
            <a class="btn btn-default" href="?page={{ namespaces.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
