{% extends "swamplr_jobs/main.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "swamplr_ingest/browse_helper.html" %}

<script>
$( document ).ready( function() {
    $( "input[value='DC'].obj-req" ).attr("disabled", "disabled").attr("title", "DC datastream must be selected.");
    $( "input[value='DC']:not(.obj-req)" ).attr("title", "DC datastream will be included if any other datastreams are selected for the object (even if not explicitly checked).");
    $( "#id_process_2" ).change(function() {
       $("#id_replace_on_duplicate").prop('checked', false); 
       $("#div_id_replace_on_duplicate").toggle(200, function() {
        
	});
    });
}); 
</script>
<div class="container-fluid" id="ingest-panel">
    <div class="ingest-heading"><h2>Ingest: <span class="collection-name">{{ cname|title }}</span></h2></div>
    {% crispy form  %}
</div>

{% include "swamplr_ingest/browse_button.html" %}

{% endblock %}
