
{% extends "swamplr_jobs/main.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel panel-primary">

{% if services %}

    <div id="info-heading" class="panel-heading">

        <div>Services</div> <div id="kbd"><kbd>{% now 'm/d/Y f a' %}</kbd></div>

    </div>

    <div class="table table-responsive table-condensed">

    <div class="app-row">
        <div class="app-column">Service</div>
        <div class="app-column command-column">Command</div>
        <div class="app-column">Frequency<br/>(mins.)</div>
        <div class="app-column">Auto Archive<br/>(mins.)</div>
        <div class="app-column">Last Started</div>
        <div class="app-column">User</div>
        <div class="app-column services-actions-column">Actions</div>
    </div>


    {% for s in services %}

    <div class="app-row">
        <div class="app-column">{{ s.label }}</div>
        <div class="app-column command-column" id="command-text"><code>{{ s.command }}</code></div>
        <div class="app-column">{{ s.frequency }}</div>
        <div class="app-column">{{ s.auto_archive }}</div>
        <div class="app-column">{{ s.last_started }}</div>
        <div class="app-column">{{ s.run_as_user }}</div>
        <div class="app-column app-button">
            <form method="POST" action="{% url 'run-services' s.id %}">
                <button type="submit" class="btn btn-success">Run</button>
            </form>
            <form method="POST" action="{% url 'delete-services' s.id %}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
     </div>
    {% endfor %}
    </div>
{% endif %}
    <div id="info-form-heading" class="panel-heading">

        <div>Add a Service</div>

    </div>

    <div class="table table-responsive table-condensed">
        <div class="app-row new-service">
        {% crispy form %}
        </div>
    </div>
</div> 

{% endblock %}
