body {
    margin:0;
}
h1 {
    margin-bottom:0;
}

table {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color:ivory;
}

form {
    margin-left: 2%;
}

kbd {
    font-size:50%;
}

#kbd {
    margin-left:1%;
    margin-bottom:5px;
}

.btn:hover, a:hover, button:hover {
    cursor:pointer;
    text-decoration:none;
}

a.btn.btn-lg.btn-outline-dark {
    border-color:darkgray;
}

#messages {
    margin-left:2%;
}

#messages p {
    margin-bottom:0;
}

#menu {
    margin-bottom:25px;
    margin-left: 3%;
}

#menu button {
    background-color:white;
    border: 1px solid darkgray;
    margin-right:5px;
}

#menu a.btn {
    margin-right:5px;
}

#header {
    margin-top:0;
    margin-bottom:25px;
    margin-left: 2%;
    margin-right: 3%;
    display:flex;
    align-items:center;
    width:95%;
    justify-content:space-between;
}

#menu {
    display:flex;
    align-items:center;
}

#menu > div {
    flex: 0 1 auto;
    margin-left:2%;
}

#heading {
    width:30%;
}

#navbar {
    width:auto;
    margin-right:2.8%;
}

#header > div {
    flex: 0 1 auto;
    margin-top:auto;
}
#header a {
    color:black;
    vertical-align:middle;
}

#header img {
    vertical-align:middle;
    height: 100px;
    margin-left: .5%;
    margin-right: 15px;
}

#job-status-heading, #messages-heading, #info-heading, #info-form-heading {
    background-color:#e3e3e3;
}

.job-row, .app-row {
    width: 97%;
    min-height: 50px;
    text-align: left!important;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: #ffffff;
}

.panel-primary, .panel-heading, #ingest-panel {
    color: #18453b !important;
    background-color: #e3e3e3;
    border-color: #e3e3e3 !important;
    text-align: center;
    margin-left:1%;
    margin-right:1%;
    }

#ingest-panel {
    text-align:left;
    padding:2% 1%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.ingest-heading {
    width:100%;
    margin-left:3.1%;
    text-align:center;
    margin-bottom:40px;
}

.ingest-heading h2 {
    margin-top:10px;
}

.panel-primary {
    border-radius: 10px;
}

.panel-heading {
    font-size: 20px;
    padding-top:10px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 12px 0;
    border-radius:10px;
}

.panel-heading > div {
    flex: 0 1 auto;
    width:auto;
}

.job-column, .app-column {
    float: left;
    display: inline-block;
    min-width: 5%;
    width: auto;
    height: 50px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1.1%;     
    margin-top:5px;
}

.app-column {
    width: 13%;
}

.command-column {
    width: 27.1%;
}

.command-text {
    text-align:left;
}

.message-data {
    width: 45%;
}

.job-heading {
    font-size: 18px;
    font-weight: 600;
    color: #787A84;
    }

.job-id-column {
    width:5%;
}

.job-type-column {
    width:10%;
}

.details-column {
    width:18%;
}

.created-column {
    width:15%;
}

.completed-column {
    width:15%;
}

.status-column {
    width:12%;
}

.actions-column {
    width:15%;
}

.table {
    padding-bottom: 1rem;
}

.pagination {
    margin-left:2%;
    margin-bottom: 20px;
}

.controls {
}

.controls input {
    line-height:26px;
    padding-left:5px;
}

div#div_id_path_list_selected .controls {
    width: 50%;
    display: inline-block;
}
div#div_id_pid_namespace .controls {
    width: 25%; 
}

input#id_subset_value {
    width:75px;
}

.service-form {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input#submit-id-add-service {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-inline {
    margin-top:7px;
}

.app-button {
    text-align:center;
}

#status-container {
    display:flex;
    justify-content:space-between;
}

#status-container {
    flex: 0 1 auto;
}

.job-container {
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    padding:20px;
    width: 45%;
    background-color:white;
}

.job-details {
    display:flex;
    justify-content:space-between;
    padding: 3px 5px;
}

#job-details, #job-type-details {
    background-color:white;
}

.job-details > div {
    flex: 0 1 auto;
}

.job-container .job-detail-heading {
    background-color:white;
    border-bottom: 1px solid lightblue;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top:2px;
}

.message {
    line-height:normal;
    height: auto;
}

.job-row.message-row {
    height:auto;
    overflow:overlay;
}

.dir{
	cursor: pointer;
    border: 1px solid #e3e3e3;
    margin-top: 7px;
    padding: 5px;
    border-radius: 5px;

}
.back_dir{
  border:0px #ffffff solid !important;
  width:70px;

}
 .back_dir img{
  height:40px;

}
.select_disable{
	border: 1px solid #e3e3e3;
	background:#e3e3e3;
}
.select_disable:hover{
    cursor: initial;
	border: 1px solid #e3e3e3;
	background:#e3e3e3;
}
.select_enable{
	border: 1px solid ##286090;
	background:##286090;
}

.browse_msg{
	text-align: center;
    border: 1px solid #e3e3e3;
    line-height: 50px;
    border-radius: 5px;
    margin: 30px;
}
.modal-header{
	text-align: center;
    background: #41B48B;
    color: #fff;
}

.modal_help_msg{
	border: 1px solid #e3e3e3;
    padding: 10px;
    font-size: 12px;
    color: #666666;
    border-radius: 5px;
    text-align: center;
}

