body {
    margin:0;
}

table {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color:ivory;
}

form {
    margin-left: 3%;
}

#navbar {
    margin-left:3%;
}

#messages {
    margin-left:3%;
}

#messages p {
    margin-bottom:0;
}

#menu {
    margin-bottom:25px;
    margin-left: 3%;
}


#menu button {
    background-color:white;
    border: 1px solid darkgray;
    margin-right:10px;
}

#header {
    margin-top:25px;
    margin-bottom:25px;
    margin-left: 3%;
}

#header a {
    color:black;
    vertical-align:middle;
}

#header img {
    vertical-align:middle;
    height: 50px;
    margin-left: .5%;
    margin-right: 15px;
}
