body {
    margin:0;
    margin-left:25px;
}

#menu button {
    background-color:white;
    border: 1px solid darkgray;
    margin-right:10px;
}

#header {
    margin-top:25px;
    margin-bottom:25px;
}

#header a {
    color:black;
    vertical-align:middle;
}

#header img {
    vertical-align:middle;
    height: 50px;
    margin-left: 4px;
    margin-right: 15px;
}
