{% load staticfiles %}

<!doctype HTML>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <title>Swamplr</title>
        <link rel="icon" 
              type="image/png" 
              href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	
</head>

<body>
{% block main %}

{% endblock %}

</body>
</html>


