{% extends "swamplr_jobs/main.html" %}
{% load humanize %}

{% block content %}

<script>
$(document).ready(function() {
    $(".object-row").click(function() {
        $(".datastreams-by-object", this).slideToggle(200, function() {
        });
    });
}); 
</script>


<div class="panel panel-primary">
  <div id="job-status-heading" class="panel-heading">
        <div>Job Status</div>
        <div id="kbd"><kbd>As of {% now 'm/d/Y f a' %}</kbd></div>
    </div>
    <div id="status-container">
    <div class="job-container">
        <div id="job-details" class="panel-heading job-detail-heading">Job Details</div>
        {% for e in job.card %}
            <div class="job-details">
                <div class=details-field">{{ e.0 }}</div>
                <div class="details-data">{{ e.1|safe }}</div>
            </div>
        {% endfor %}
        <div class="job-details">
            <div class="details-field">Actions</div>
                <div class="details-data">
                {% for a in job.actions %}
                    <a href="{% url a.action a.args %}"><button class="btn {{ a.class }}">{{ a.label }}</button></a>
                {% endfor %}
                </div>
            </div>
        </div>
    <div class="job-container">
        <div id="job-type-details" class="panel-heading job-detail-heading">{{ job.job_type|title }} Details</div>
        {% for e in job.details %}
            <div class="job-details">
                <div class="details-field">{{ e.0 }}</div>
                <div class="details-data">{{ e.1 }}</div>
            </div>
        {% endfor %}
    </div>
    </div>
    {% if job.messages %}
    <div id="messages-heading" class="panel-heading">Messages</div> 
    <div class="table table-responsive table-condensed">
        <div class="job-row">
            <div class="job-column message-data">Time</div>
            <div class="job-column message-data">Message</div>
        </div>
        {% for m in job.messages %}
        <div class="job-row message-row">
            <div class="job-column message-data">{{ m.0 }}</div>
            <div class="job-column message-data message"><pre>{{ m.1 }}</pre></div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if job.objects and job.objects.objects and job.objects.type == "ingest" %}
    {{ job.objects.type }}
    <div id="objects-heading" class="panel-heading">Objects</div> 
      <div class="table table-responsive table-condensed">
        <div class="job-row">
            {% if job.objects.objects.0.path %}
            <div class="job-path job-column job-data">Path</div>
            {% endif %}
            <div class="job-pid job-column job-data">PID</div>
            {% if job.objects.objects.0.uid %}
            <div class="job-pid job-column job-data">ID</div>
            <div class="job-pid job-column job-data">Created</div>
            {% endif %}
            <div class="job-result job-column job-data">Result</div>
        </div>

        {% for o in job.objects.objects %}
        {% if o.subs %}
        <div class="expandable-row object-row job-row">
        {% else %}
        <div class="object-row job-row">
        {% endif %}
          <div class="object-data">
            {% if job.objects.objects.0.path %} 
            <div class="job-path object-column job-column job-data">{{ o.path }}</div>
            {% endif %}
            <div class="job-pid object-column job-column job-data"><code>{{ o.pid }}</code></div>
            {% if job.objects.objects.0.uid %}
              {% if "http" in o.uid %}
            <div class="job-pid object-column job-column job-data"><a href="{{ o.uid }}">{{ o.uid }}</a></div>
              {% else %}
            <div class="job-pid object-column job-column job-data">{{ o.uid }}</div>
              {% endif %}
            <div class="job-pid object-column job-column job-data">{{ o.created|naturaltime|default_if_none:"~" }}</div>
            {% endif %}
            <div class="job-result object-column job-column job-data">{{ o.result }}</div>
          </div>
          <div class="datastreams-by-object">
            {% if o.subs %}
            <div class="object-heading">Datastream Info</div>
            {% for d in o.subs %}
            <div class="datastream-data">
              <div class="ds-data job-column job-data ds-column">{{ d.datastream }}</div>
              <div class="ds-data job-column job-data ds-column">{{ d.file }}</div>
              <div class="ds-data job-column job-data ds-column">{{ d.created|naturaltime }}</div>
              <div class="ds-data job-column job-data ds-column">{{ d.result }}</div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

    {% elif job.objects and job.objects.objects and job.objects.type == "derivatives" %}
    <div id="objects-heading" class="panel-heading">Derivatives</div>
    <div class="table table-responsive table-condensed">
      <div class="job-row">
        <div class="job-path job-column job-data">Source Directory</div>
        <div class="job-result job-column job-data">Result</div>
      </div>
      {% for o in job.objects.objects %}
      {% if o.subs %}
      <div class="expandable-row object-row job-row">
      {% else %}
      <div class="object-row job-row">
      {% endif %}
        <div class="object-data">
          <div class="job-path object-column job-column job-data">{{ o.path }}</div>
          <div class="job-result object-column job-column job-data">{{ o.result }}</div>
        </div>
        <div class="datastreams-by-object">
          {% if o.subs %}
          <div class="object-heading">Derivative Info</div>
          {% for d in o.subs %}
          <div class="datastream-data">
            <div class="ds-data job-column job-data ds-column">{{ d.derive_type }}</div>
            <div class="ds-data job-column job-data ds-column">{{ d.file }}</div>
            <div class="ds-data job-column job-data ds-column">{{ d.created|naturaltime }}</div>
            <div class="ds-data job-column job-data ds-column">{{ d.result }}</div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div> 
      {% endfor %}
    </div>
    {% elif job.objects and job.objects.objects %}
    <div id="objects-heading" class="panel-heading">Objects</div>
    <div class="table table-responsive table-condensed">
    {% for o in job.objects.objects %}
      <div class="object-row job-row">
        <div class="object-data">
          <div class="job-path object-column job-column job-data">{{ o.pid }}</div>
          {% if "http" in o.uid %}
          <div class="job-pid object-column job-column job-data"><a href="{{o.uid}}" target="_blank">{{ o.uid }}</a></div>
          {% else %}
          <div class="job-pid object-column job-column job-data">{{ o.uid }}</div>
          {% endif %}
          <div class="job-path object-column job-column job-data">{{ o.result }}</div>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
