{% extends "swamplr_jobs/main.html" %}
{% load humanize %}

{% block content %}

<div class="panel panel-primary">
    <div id="job-status-heading" class="panel-heading"><div>Job Status</div> <div id="kbd"><kbd>As of {% now 'm/d/Y f a' %}</kbd></div></div>
    <div class="table table-responsive table-condensed">
        <div class="job-row" id="job-headings">
        {% for h in headings %}
            <div class="job-column ingestHeading {{ h|lower|slugify }}-column">{{ h }}</div>
        {% endfor %}
        </div>

        {% for j in jobs %}
        <div class="job-row">
            <div class="job-column {{ headings.0|lower|slugify }}-column"><a class="btn-xs" href="{% url 'view_job' j.job_id %}">{{ j.job_id }}</a></div>
            <div class="job-column {{ headings.1|lower|slugify }}-column">{{ j.job_type }}</div>
            <div class="job-column {{ headings.2|lower|slugify }}-column">{{ j.status_info|safe }}</div>
            <div class="job-column {{ headings.3|lower|slugify }}-column">{{ j.created|naturaltime }}</div>
            <div class="job-column {{ headings.4|lower|slugify }}-column">{{ j.completed|naturaltime }}</div>
            <div class="job-column {{ headings.5|lower|slugify }}-column">{{ j.status.status }}</div>
            <div class="job-column {{ headings.6|lower|slugify }}-column app-button">
            {% for a in j.actions %}
                <a href="{% url a.action a.args %}"><button class="btn {{ a.class }}">{{ a.label }}</button></a>
            {% endfor %}
            </div>
         </div>
         {% endfor %}
    </div>
</div>
 
<div class="pagination">
    <span class="step-links">
        {% if jobs.has_previous %}
            <a class="btn btn-default" href="?page={{ jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
        </span>

        {% if jobs.has_next %}
            <a class="btn btn-default" href="?page={{ jobs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
