<style>
table {
    border-collapse: collapse;
}
.panel-primary{
     border: none !important;
    }
.panel-primary .panel-heading {
    color: #18453b !important;
    background-color: #e3e3e3 !important;
    border-color: #e3e3e3 !important;
    text-align: center;
    font-size: 20px;

    }

.table {
    width: 100%;
    background: #e3e3e3;
}

    .ingestRow {
    width: 97%;
    height: 50px;
    text-align: center!important;
    line-height: 20px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: #ffffff;
    }

    .ingestColumn{
    float: left;
    display: inline-block;
    width: 12.5%;
    height: 50px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .batchDelete , .btn-danger {
    margin-top: 8px;

    }
    .ingestHeading {
    font-size: 18px;
    font-weight: 600;
    color: #787A84;

    }
    #popupBoxConform, #popupBoxCancel, .deleteButton{
    border: 2px solid #444444;
    padding: 5px;
    margin: 45px;
    }

</style>


{% extends "jobs/main.html" %}
{% block content %}


<div class="panel panel-primary">
    <div class="panel-heading">Job Status</div>


    <div class="table table-responsive table-condensed">
        <div class="ingestRow">
            <div class="ingestColumn ingestHeading">Job ID</div>
            <div class="ingestColumn ingestHeading">Status</div>
            <div class="ingestColumn ingestHeading">Job Type</div>
            <div class="ingestColumn ingestHeading">Succeeded</div>
            <div class="ingestColumn ingestHeading">Failed</div>
            <div class="ingestColumn ingestHeading">Skipped</div>
            <div class="ingestColumn ingestHeading">Batch Delete</div>
            <div class="ingestColumn ingestHeading">Cancel Job</div>

        </div>
        {% for key, value in jobs.items|dictsort:0 reversed %}
        <div class="ingestRow">

              <div class = "ingestColumn" >{{ value.job_id }} <a class = "btn-xs" style = "color:green ; cursor:pointer"  href = {% if  value.type  == "Ingest" %} '{% url "show_ingest_queue_data" value.job_id %}' {% elif value.type == "Derivatives" %}
                  '{% url "show_derivative_queue_data" value.job_id %}' {% else %} '{% url "show_index_queue_data" value.job_id %}' {% endif %}>  More  Info </a> </div>
            {% if value.status == "Cancelled By User" %}
            <div class="ingestColumn">Cancelled By User</div>
            {% elif value.status == "Script error" %}
            <div class="ingestColumn">Script Error<a class = "btn-xs" style = "color:green ; cursor:pointer"   href =  '{% url "show_error_message" value.job_id %}' >more info</a></div>
            {% elif value.status == "Failed due to timeout" %}
            <div class="ingestColumn">Failed due to time out</div>
            {% elif value.status == "Success" %}
            <div class="ingestColumn">Success</div>
            {% elif value.status == "Running" %}
            <div class="ingestColumn">Running</div>
            {% else %}
            <div class="ingestColumn">Job Queued</div>
            {% endif %}


            {% if value.type == "Ingest" %}
            <div class="ingestColumn">Ingest Job</div>
            {% elif value.type == "Derivatives" %}
            <div class="ingestColumn">Derivative Job</div>
            {% else %}
            <div class="ingestColumn">Re Index Job</div>
            {% endif %}
            <div class = "ingestColumn">{{ value.success_count }} </div>

            <div class = "ingestColumn">{{ value.failed_count }} </div>
            <div class = "ingestColumn">{{ value.skipped_count }} </div>
            <div class="ingestColumn">
                {% if value.type == "Ingest" and value.status != "Job Queued" %}
                <div>
                    <script>
                var clickedId = {{value.job_id}}
                $(document).on("click", "#"+clickedId, function(e) {
                    bootbox.confirm("Are you sure you want to delete ?", function(result){
                    if (result) {
                            window.location.href = '{% url "batchDelete" value.job_id %}';
                        };
                    });
                });

                    </script>
                    <a class="btn btn-info batchDelete" id={{value.job_id}}> Delete</a></div>
                {% endif %}
            </div>


            <div class="ingestColumn">

                    {% if value.status == "Running" or  value.status == "Job Queued" %}
                        <div>
                            <script>
                            var clickedId = {{value.job_id}}
                            $(document).on("click", "#cancel-"+clickedId, function(e) {
                            bootbox.confirm("Are you sure you want to stop this job ?", function(result){
                            if (result) {
                                    window.location.href = '{% url "stopJobs" value.job_id %}';
                            };
                            });
                        });

                            </script>
                            <a class="btn btn-danger cancel" id=cancel-{{value.job_id}}> Stop</a></div>
                    {% endif %}

            </div>

        </div>


        {% endfor %}


    </div>

    {% endblock %}
</div>
