{% extends "swamplr_jobs/base.html" %}

{% block main %}
    <div id="header">
        <div id="heading"> 
            <h1><img src='/static/images/swampy.png' alt="Swamplr logo"/><a href="/">Swamplr {{ test }}</a></h1>
        </div>
        {% include "swamplr_jobs/navbar.html" %}
    </div>
    {% include "swamplr_jobs/messages.html" %}     

{% block content %}

<div id="welcome">
<h2>Welcome to the Swamp!</h2>
<p>Let the swamp monster be your guide as you navigate through this handy tool. Who knew a swamp had so much to offer!</p>

<p>
Use the navigation on the top to view the options for your enabled apps. To get started, Go to the <a href='/jobs'>Jobs</a> page to view the status of pending and completed jobs.
</p>
</div>

{% endblock %}

{% endblock %}
